<h1>Checkout</h1>

<table class="ui table">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= image_tag item.product.picture, Width: 60 %></td>
        <td><%= item.product.product_name %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.total) %></td>
      </tr>
    <% end %>
      <tr>
      <td colspan=3></td>
      <td><strong>Total Purchace:</strong></td>
      <td><strong><%= number_to_currency(@order.order_total) %></strong></td>
      </tr>
  </tbody>
</table>
<%= button_to "Back To Cart", order_path(@order), method: :get, class: "ui button segment floated" %>
<button id="pay-now" class="ui button segment floated" style="margin: 0;">Pay with stripe</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
function redirectToStripe() {
    var stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>");
    stripe.redirectToCheckout({
        sessionId: '<%= @session.id %>'
    }).then(function (result) {

    });
}

document.querySelector("#pay-now").addEventListener("click", redirectToStripe)
</script>