<h1>Orders</h1>

<% @orders.each do |order| %>
<table class="ui table">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <% if @admin %>
        <th>Seller</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% order.line_items.each do |item| %>
      <tr>
        <td><%= image_tag item.product.picture, Width: 60 %></td>
        <td><%= item.product.product_name %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.total) %></td>
        <% if @admin %>
          <td><%= item.product.user.user_name %></td>
        <% end %>
      </tr>
    <% end %>
      <tr>
      <td colspan=3></td>
      <td><strong>Total Purchace:</strong></td>
      <td><strong><%= number_to_currency(order.order_total) %></strong></td>
      <% if @admin %>
        <td></td>
      <% end %>
      </tr>
  </tbody>
</table>
<span class="ui floating"><strong>Purchase Date:</strong> <%= order.updated_at.localtime.asctime %></span>
<% if @admin %>
  <br>
  <span class="ui floating"><strong>Purchased by:</strong> <%= order.user.email %></span>
  <br>
  <span class="ui floating"><strong>Paid:</strong> <%= order.paid %></span>
  <br>
  <%= link_to "Edit", edit_order_path(order) %>
  <%= link_to "Delete", order_path(order), method: :delete %>
<% end %>
<br> <br> <br>
<% end %>
