<h1>Orders</h1>

<% @orders.each do |order| %>
<table class="ui table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <% if current_user.has_role? :admin %>
        <th>Seller</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% order.line_items.each do |item| %>
      <tr>
        <td><%= item.product.product_name %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.total) %></td>
        <% if current_user.has_role? :admin %>
          <td><%= item.product.user.user_name %></td>
        <% end %>
      </tr>
    <% end %>
      <tr>
      <td><strong>Total Purchace</strong></td>
      <td></td>
      <td></td>
      <td><strong><%= number_to_currency(order.order_total) %></strong></td>
      </tr>
  </tbody>
</table>
<% if current_user.has_role? :admin %>
  <p><strong>Purchased by: </strong><%= order.user.email if current_user.has_role? :admin %></p>
  <%= link_to "Edit", edit_order_path(order) %>
  <%= link_to "Delete", order_path(order), method: :delete %>
<% end %>
<br> <br> <br>
<% end %>
