

<div class="ui menu" id="search">
    <%= link_to "All", products_path, class: "item" %>
    <%= link_to "Cardio", products_path(:show => "cardio"), class: "item" %>
    <%= link_to "Machines", products_path(:show => "machines"), class: "item" %>
    <%= link_to "Free Weights", products_path(:show => "free"), class: "item" %>
    <div class="right menu">
      <form method="get" class="ui action input" action="<%= products_path %>">
        <input type="text" placeholder="Search.." name="show" >
        <button type="submit" class="ui button"><i class="search icon"></i></button>
      </form>
    </div>
</div>
<%= button_to 'List New Product', new_product_path, method: :get, class: "ui button large" if user_signed_in? %>
<br>
<div class="ui cards">
  <% @products.each do |product| %>
    <div class="card">
      <%= image_tag product.picture, Width: "100%", class: "image" if product.picture.attached? %>
      <div class="content">
        <div class="header">
          <%= product.product_name %>
        </div>
        <div class="meta">
          <p><%= product.category.name %></p>
        </div>
        <div class="description">
          <p><%= product.description %></p>
          <span><strong><%= number_to_currency(product.price) %></strong>/month</span> <br>
          <span><strong>Available: </strong><%= product.quantity %></span> <br>
          <span><strong>Provided By: </strong><%= product.user.user_name %></span>
        </div>
        <div class="extra content">
        <span>
          <%= link_to "Details", product_path(product) %>
          <% if user_signed_in? && (@admin or current_user.products.include?(product)) %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </span> <br> <br>
        <span>
          <%= button_to "Rent Now", line_items_path(:product_id => product.id), class: "ui button" %>
        </span>
        </div>
      </div>
    </div>
  <% end %>
</div>



