<!DOCTYPE html>
<html>
  <head>
    <title>WeightItOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Products", root_path %>
      <% if user_signed_in? %>
        <% if current_user.orders.last != nil %>
          <%= link_to "My Cart", order_path(current_user.orders.last) if current_user.orders.last.paid == false %>
        <% end %>
        <% if current_user.orders.where(paid: true) != [] %>
          <%= link_to "Order History", orders_path(:show => "history") %>
        <% end %>
        <% if current_user.has_role? :admin %>
          <%= link_to "All orders", orders_path %>
        <% end %>
        Welcome: <%= current_user.user_name %>
        <%= link_to "My products", products_path(:show => "my_products") if current_user.has_role? :seller %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else%>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
